<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hi游portal</title>
    <link rel="bookmark" type="image/x-icon" href="http://hiyou.doublecom.net/static/img/www.ico.ico">
    <link rel="shortcut icon" href="http://hiyou.doublecom.net/static/img/www.ico.ico">
    <link rel="icon" href="http://hiyou.doublecom.net/static/favicon.ico/www.ico.ico">
    <link rel="stylesheet" type="text/css" href="http://hiyou.doublecom.net/static/css/style_portal.css">
  
  
</head>
<body>
<div class="main">
 
    <div class="container">
         <div class="content">
            <div class="wrap">
                <div class="login-box1">
                    <div class="login-img ">
                        <img src="http://hiyou.doublecom.net/static/img/wf-su.png">
                        <h2>Wi-Fi已成功连接</h2>
                        <p>欢迎使用Hi游免费WiFi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="back">
 			<div class="items">
                <div class="item item1"
                     style="background-image:url(http://hiyou.doublecom.net/static/img/Bg-pc.jpg)"></div>
                </div>
        </div>
    </div>
</div>

</body>
</html>

