<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Hi游portal</title>
	<meta http-equiv="Content-Type" content="text/html;charset=uft-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/style_portal.css">
	
</head>
<body>
	<div class="finish">
		<div class="finish-first">
			<img src="/static/img/dui.png">
		</div>
		<div class="finish-second">
			<p>请长按一下二维码进行关注</p>
			<div class="finish-img">
				<img src="{{url}}">
			</div>
		</div>
		<div class="BtnSlogan">
			<div class="finish-word">
				<h3>温馨提示:</h3>
				<p>您未关注公众号，请长按二维码关注，否则您只能使用3分钟免费wifi</p>
			</div>
		</div>
	</div>
</body>
</html>