{% extends "scenic/index.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/1024.css">
{% endblock %}
{% block content %}
</style>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=XOMBZ-EMJ6O-PNPWZ-SVZWY-B4S5F-NOBAG"></script>
 <script charset="utf-8" src="/static/js/jquery-1.9.1.min.js"></script>

<section class="content-header AllTitle FormBlock">
  <h1>
    <span><a href="#">微信认证</a></span>
  </h1>        
</section>
<section class="WeChatStep" style="background:#fff;padding:20px;margin:20px 0 0 20px;">
    <ol class="ui-step ui-step-5">
        <li class="ui-step-start ui-step-done">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfontw" ></i>
                <i class="ui-step-number">1</i>
                <span class="ui-step-text">微信授权</span>
            </div>
        </li>
        <li class="ui-step-done">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfontw"></i>
                <i class="ui-step-number">2</i>
                <span class="ui-step-text">插件开通</span>
            </div>
        </li>
        <li class="ui-step-active">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfontw"></i>
                <i class="ui-step-number">3</i>
                <span class="ui-step-text">新建门店</span>
            </div>
        </li>
        <li class="">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfontw"></i>
                <i class="ui-step-number">4</i>
                <span class="ui-step-text">门店配置</span>
            </div>
        </li>
        <li class="ui-step-end">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfontw"></i>
                <i class="ui-step-number">5</i>
                <span class="ui-step-text">设置完成</span>
            </div>
        </li>
    </ol>
</section>
<section class="content NewStore" style="background:#fff;padding:20px;margin:0px 0 0 20px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <section class="StoreAdd">
                    <section class="StoreSearch">
                      <div class="input-group CityInput" style="">
                           <input  id="region" type="textbox" value="例“北京”" onfocus="if (value =='例“北京”'){value =''}"onblur="if (value ==''){value='例“北京”'}" class="form-control">
                        </div>
                        <div class="input-group ADDInput" style="">
                            <input id="keyword" type="textbox" value="详细地址" onfocus="if (value =='详细地址'){value =''}"onblur="if (value ==''){value='详细地址'}" class="form-control">
                        </div>
                        <div class="input-group SearBtn" style="">
                            <button type="button" class="btn btn-block btn-primary btn-sm" value="搜索" onclick="searchKeyword()"><i class="fa  fa-map-marker"></i></button>
                        </div>
                        <p>在两个文本框中分别输入关键词和查找的范围，点击搜索按钮进行查找，点击Marker可获取POI属性。</p>

                        <input id="pageIndex" type="textbox" value="0" style="width:30px;display:none">
                        <input id="pageCapacity" type="textbox" value="10" style="width:30px;display:none">
                    </section>
                    <section class="StoreName" >
                        <div id="container"></div>
                         <span class="spanA">已导入门店名称：
                         <span id="mendian"></span>
                         </span>
                    </section>
                    <section class="StoreButton">
                       
                        <div class="input-group margin">
                            <button type="button" class="btn btn-block btn-primary btn-sm" id="xiayibu">下一步</button>
                           
                        </div>
                        <div class="input-group margin">

                            <a href="/scenic/set_success/">
                                <button type="button" class="btn btn-block btn-success btn-sm">已有门店</button>

                        </div>
                        
                    </section>
             </section>
            </div>
          </div>
        </div> 
       </div><!-- /.col -->
    </div>
</section>


<body onload="init()">
    <script>
        var searchService, markers = [];
        var init = function() {
            var center = new qq.maps.LatLng(39.916527, 116.397128);
            var map = new qq.maps.Map(document.getElementById('container'), {
                center: center,
                zoom: 13
            });
 
            //设置Poi检索服务，用于本地检索、周边检索
            searchService = new qq.maps.SearchService({
                //检索成功的回调函数
                complete: function(results) {
                    //设置回调函数参数
                    var pois = results.detail.pois;
                    var infoWin = new qq.maps.InfoWindow({
                        map: map
                    });
                    var latlngBounds = new qq.maps.LatLngBounds();
                    for (var i = 0, l = pois.length; i < l; i++) {
                        var poi = pois[i];
                        //扩展边界范围，用来包含搜索到的Poi点
                        latlngBounds.extend(poi.latLng);
 
                        (function(n) {
                            var marker = new qq.maps.Marker({
                                map: map
                            });
                            marker.setPosition(pois[n].latLng);
 
                            marker.setTitle(i + 1);
                            markers.push(marker);
 
 
                            qq.maps.event.addListener(marker, 'click', function() {
                                infoWin.open();
                                infoWin.setContent('<div style="width:280px;height:100px;">' + '名称：' + pois[n].name + '，地址：' + pois[n].address + '</div>'+'<div class="mendianinfo">'+
            '<a class="btn btn_primary l js_submitcheck"  href="javascript:void(0);" onclick="change(this)" value='+ pois[n].name+'>'+'导入该门店信息'+'<div id="abc" style="display:none">'+ pois[n].latLng +'</div>'+'</a>'+
        '</div>');
                                infoWin.setPosition(pois[n].latLng);
                            });
                        })(i);
                    }
                    //调整地图视野
                    map.fitBounds(latlngBounds);
                },
                //若服务请求失败，则运行以下函数
                error: function() {
                    alert("出错了。");
                }
            });
 
        }
 
         //清除地图上的marker
            function clearOverlays(overlays) {
                var overlay;
                while (overlay = overlays.pop()) {
                    overlay.setMap(null);
                }
            }
            //设置搜索的范围和关键字等属性
            function searchKeyword() {
                var keyword = document.getElementById("keyword").value;
                var region = document.getElementById("region").value;
                var pageIndex = parseInt(document.getElementById("pageIndex").value);
                var pageCapacity = parseInt(document.getElementById("pageCapacity").value);
                clearOverlays(markers);
                //根据输入的城市设置搜索范围
                searchService.setLocation(region);
                //设置搜索页码
                searchService.setPageIndex(pageIndex);
                //设置每页的结果数
                searchService.setPageCapacity(pageCapacity);
                //根据输入的关键字在搜索范围内检索
                searchService.search(keyword);
                //根据输入的关键字在圆形范围内检索
                //var region = new qq.maps.LatLng(39.916527,116.397128);
                //searchService.searchNearBy(keyword, region , 2000);
                //根据输入的关键字在矩形范围内检索
                //region = new qq.maps.LatLngBounds(new qq.maps.LatLng(39.936273,116.440043),new qq.maps.LatLng(39.896775,116.354212));
                //searchService.searchInBounds(keyword, region);
 
            }
    </script>
<script>
function change(id)
{
document.getElementById("mendian").innerHTML=id.getAttribute('value');
document.getElementById("mendian").value=id.children[0].innerHTML;
}
</script>
<script>
  $(function(){
  $("#xiayibu").click(function(){
      var name = $("#mendian").text();
	  var ip = $("#mendian").val();
	  var dd = ip.replace(/\s/ig,'');
	  if($('#mendian').html()!=''){
	  $('#next').attr("disabled",false);}
	  var data={
     　　　　　　location:dd,
               /*换成自己申请的key*/
     　　　　　　key:"XOMBZ-EMJ6O-PNPWZ-SVZWY-B4S5F-NOBAG",
   　　　　　　  get_poi:0    
     　　　　}
	  data.output="jsonp"; 
	  $.ajax({
		url:"http://apis.map.qq.com/ws/geocoder/v1",
		data:data,
		type:'GET',
		dataType:'jsonp',
		async:false,
		jsonp:"callback",
		jsonpCallback:"QQmap",
		cache:false,
		success:function(d,s,x){
		var province = d.result.address_component.province;
		var city = d.result.address_component.city;
		var district = d.result.address_component.district;
		var street = d.result.address_component.street;
		var street_number = d.result.address_component.street_number;
		var lat = d.result.location.lat;
		var lng = d.result.location.lng;
		$.ajax({
		url:"/scenic/mendianinfo2/",
		data:{'name':name,
			  'province':province,
			  'city':city,
			  'district':district,
			  'street':street,
			  'street_number':street_number,
			  'lat':lat,
			  'lng':lng,},
		type:'GET',
		cache:false,
		async:false,
		success:function(d,s,x){
		 window.location.assign('/scenic/set_success/?d='+d)
  },
		error:function(x,s,e){
		//alert(e)
	}
            })
			
			
  },
		error:function(x,s,e){
		//alert(e)
	}
            })
	  
	  
	  
  })
 })
</script>
{% endblock %}
{% block script %}
{% endblock %}



