{% extends "agent/index.html" %}
{% block header %}

{% endblock %}

{% block content %}
<section class="content-header AllTitle TopTitle">
  <h1>
    <span><a href="/agent/dev/">设备管理</a>><a href="javascript:location.reload();">增加设备</a></span>
  </h1>        
</section>
<section class="content DevAdd">
  <div class="row" style="background:#fff;padding:20px;margin:20px;">
    <div class="col-lg-6 col-md-12">
      <div class="box box-info" style="border-top:0px;">
          <form class="form-horizontal" action="/agent/{{ pk }}/save_dev/" method="POST">{% csrf_token %}
            <div class="box-body">
              <div class="pdrow">
                <div class="form-group" style="margin-bottom:25px;">
                  <div class="col-sm-3 control-label" style="padding:0px;"><label for="id_name">设备类型:</label></div>
                  <div class="col-sm-9">
                    <select id="id_group" name="type" style="border-color: #d2d6de;">
                      <option value="0">AP</option>
                      <option value="1">探针</option>
                      <option value="2">认证服务器</option>
                    </select>
                  </div>
                </div>
                <div class="form-group" style="margin-bottom:25px;">
                  <div class="col-sm-3 control-label" style="padding:0px;"><label for="id_username">设备MAC:</label></div>
                  <div class="col-sm-9" ><input style="border-color:#d2d6de; width:50%;" class="form-control" id="id_username" name="mac" placeholder="mac" type="text"> <span style="margin-left: 20px; color:#999;">注:不区分大小写。列:f4:8b:7t:34:9v:er</span></div>
                </div>
                <div class="form-group" style="margin-bottom:25px;">
                  <div class="col-sm-3 control-label" style="padding:0px;"><label for="id_username">设备备注:</label></div>
                  <div class="col-sm-9" ><input style="border-color:#d2d6de; width:50%;" class="form-control" id="id_username" name="remarks" placeholder="备注" type="text"></div>
                </div>
                <div class="form-group" style="margin-bottom:25px;">
                  <div class="col-sm-3 control-label" style="padding:0px;"><label for="id_name">所属景区:</label></div>
                  <div class="col-sm-9">
                    <select id="cartogram" class="field" name="scenic" style="border-color:#d2d6de">
                      <option value="0">无</option>
                      {% for obj in obj.scenic_set.all %}
                      <option value="{{obj.pk}}">{{obj.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group" style="margin-bottom:25px;">
                  <div class="col-sm-3 control-label" style="padding:0px;"><label for="id_name">所属区域:</label></div>
                  <div class="col-sm-9">
                    <select id="region" name="region" style="border-color:#d2d6de;">
                       <option value="0">无</option>
                    </select>
                  </div>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer pdrow">
                <div class="" style="width:40%; margin:auto;">
                  <button type="submit" class="btn btn-info " style="background-color: #0073b7; border:#0073b7; margin-right: 2%;">确认</button>
                  <a  href="/agent/dev/"class="btn btn-info btn-default pull-right" data-dismiss="modal" style="background-color:#dd4b39; border:#dd4b39;color:#fff;">取消
                  </a>            
                </div>
            </div>
          </form>
        </div><!-- /.box -->
        <!-- general form elements disabled -->
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(".field").change(function(){
    var obj=document.getElementById("cartogram");    
    var index=obj.selectedIndex;   
    var pk=obj.options[index].getAttribute("value");  

    $.ajax({
      url:'/agent/{{ pk }}/'+pk+'/dev_add/',
      data:{},
      type:'post',
      dataType:'JSON',
      async:false,
      success:function(d,s,x){
        var data = d.data
        var op = $('#region').empty()
        var th = '<option value="0">无</option>'
        for (var i = 0; i < data.length; i++) {
          th += '<option value="'+data[i].pk+'">'+data[i].name+'</option>'
        };
      op.append(th)
      },
      error:function(x,s,e){
          alert(e)
        }
      }) 
  });
</script>
{% endblock %}
