{% extends "agent/index.html" %}

{% block content %}
<section class="content-header AllTitle TopTitle">
  <h1>
    <span><a href="/agent/agent/">景区管理</a>><a href="javascript:location.reload();">账号管理</a></span> 
  </h1>        
</section>
<section class="content">
  <div class="row" style="background:#fff;padding:20px;margin:20px;">
    <div class="col-xs-12" style="padding:0;">
      <div class="box" style="border-top: none;">
        <div class="box-body">
          <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <section>
               <label style="float: right;"><a class="create" style="background:none;"><div class="btn btn-sm btn-default new-add" style="margin-left:10px;"><i class="glyphicon glyphicon-plus"></i></div></a> </label>
            </section>
            
            <div class="row">
              <div class="col-sm-12" style="padding-right:0px;">
                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info" style="text-align: center;margin:0px;">
                <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 121px; text-align: center;">账号</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 152px; text-align: center;">创建时间</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 133px; text-align: center;">最近登录时间</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 101px; text-align: center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% load pagination_tags %}
                {% autopaginate obj 12 %}
                {% for obj in obj %}         
                <tr role="row" class="odd">
                  <td class="sorting_1">{{obj.cellphone}}</td>
                  <td title="{{obj.created|date:'Y-m-d H:i:s'}}">{{obj.created|date:"Y-m-d"}}</td>
                  <td title="{{obj.last_login|date:'Y-m-d H:i:s'}}">{{obj.last_login|date:"Y-m-d"}}</td>
                  <td>
                    <a id="{{ obj.pk }}" style="margin-right: 10px; color:#53a3f7!important;" class="dell"><i class="glyphicon glyphicon-remove-sign" style="margin-right:5px;"></i>删除</a>&nbsp
                    <a href="/agent/{{pk}}/{{obj.pk}}/scenic/su/" style="margin-right: 10px; color:#53a3f7!important;"><i class="fa fa-link" style="margin-right:5px;"></i>后台</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="MiddlePage">
          {% paginate %}
        </div>    
      </div>
            <!-- /.box-body -->
    </div> 
  </div><!-- /.col -->
</div><!-- /.row -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width:600px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" 
              data-dismiss="modal" aria-hidden="true">
                &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
            添加景区账号
          </h4>
        </div>
        <div class="modal-body"> 
         <form class="form-horizontal" method="POST" >{% csrf_token %}
          <div class="box-body">
            <div class="pdrow">
              <div class="form-group">
                <div class="col-sm-3 control-label"><label for="id_username">手机账号:</label></div>
                <div class="col-sm-9"><input class="form-control" id="id_username" name="cellphone" placeholder="手机账号" type="text"> <span class="helptext" style="color:#999;">登录账号必须为11位数字</span></div>
              </div>
              </div>
            </div>
            <div class="box-footer pdrow">
                <div class="" style="width:40%; margin:auto;">
                  <button type="submit" class="btn btn-info " style="background-color: #0073b7; border:#0073b7; margin-right: 2%;">确认</button>
                  <button type="button" class="btn btn-info btn-default pull-right" data-dismiss="modal" style="background-color:#dd4b39; border:#dd4b39;color:#fff;">取消
                  </button>            
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="myModa" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width:500px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" 
              data-dismiss="modal" aria-hidden="true">
                &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
           删除账号
          </h4>
        </div>
        <div class="modal-body"> 
         <form class="form-horizontal" id="del" method="POST" >{% csrf_token %}
          <div class="box-body">
            <div class="pdrow">
               <span>确定要删除此账号吗?</span>
              </div>
            </div>
            <div class="box-footer pdrow">
                <div class="" style="width:40%; margin:auto;">
                  <button type="submit" class="btn btn-info " style="background-color: #0073b7; border:#0073b7; margin-right: 2%;">确认</button>
                  <button type="button" class="btn btn-info btn-default pull-right" data-dismiss="modal" style="background-color:#dd4b39; border:#dd4b39;color:#fff;">取消
                  </button>            
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript">
  $(function(){
    $(".create").click(function(){
      $('.form-horizontal').attr('action',"/agent/{{ pk }}/username/" )
      $('#myModal').modal(
      {
        keyboard: true
      })

    })
    $(".dell").click(function(){
      var id = $(this).attr('id')
      $('#del').attr('action',"/agent/{{pk}}/"+id+"/user_del/" )
      $('#myModa').modal(
      {
        keyboard: true
      })

    })
  })

</script>
{% endblock %}

